@import '../../var.scss';

/* Calendar
--------------------------*/
/// border||Other|4
$--calendar-border: $--table-border !default;
/// color||Other|4
$--calendar-selected-background-color: #f2f8fe !default;
$--calendar-cell-width: 85px !default;
