@import '../../var.scss';

/* Card
--------------------------*/
/// color||Color|0
$--card-border-color: $--border-color-lighter !default;
$--card-border-radius: 4px !default;
/// padding||Spacing|3
$--card-padding: 20px !default;

$--card-wrapper-padding: 0;

$--card-header-line-height: 46px;
